@import "tailwindcss";

@theme {
  --font-sans: Inter, sans-serif;
}

/* Make app take full width & height */
html, body, #root {
  width: 100%;
  height: 100%;
}

/* Optional: nicer font */
body {
  @apply font-sans;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}